{{ form_start(form) }}
{{ form_widget(form) }}
{# verifier si la route edit de adherent affiche les fichiers #}
{% if request.attributes.get('_route') == 'adherent_edit'%}
	<h2>Pieces Jointes</h2>
	{% for pieces_jointe in adherent.piecesJointes %}
		<div>
            <img src="{{ asset('/uploads/' ~ pieces_jointe.nom)}}" alt="pieces_jointe" width="150">
            <a href="{{ path('adherent_pieces_jointe_delete', {'id': pieces_jointe.id}) }}"
            data-delete data-token="{{ csrf-token('delete' ~ pieces_jointe.id)}}">Supprimer</a>

        </div>
	{% endfor %}
{% endif %}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
