<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Manage Donation</title>

		<!-- Global stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
		<link href="templateAdmin/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
		<link href="templateAdmin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="templateAdmin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
		<link href="templateAdmin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
		<link href="templateAdmin/assets/css/components.min.css" rel="stylesheet" type="text/css">
		<link href="templateAdmin/assets/css/colors.min.css" rel="stylesheet" type="text/css"><!-- /global stylesheets -->

		<!-- Core JS files --><script src="templateAdmin/global_assets/js/main/jquery.min.js"> </script>
		<script src="templateAdmin/global_assets/js/main/bootstrap.bundle.min.js"></script>
		<script src="templateAdmin/global_assets/js/plugins/loaders/blockui.min.js"></script>
		<!-- /core JS files -->

		<!-- Theme JS files -->
		<script src="templateAdmin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

		<script src="assets/js/app.js"></script>
		<script src="templateAdmin/global_assets/js/demo_pages/login.js"></script>
		<!-- /theme JS files -->
		<!-- Theme JS files -->
		<script src="templateAdmin/global_assets/js/plugins/notifications/pnotify.min.js"></script>
		<script src="templateAdmin/global_assets/js/demo_pages/extra_pnotify.js"></script>
		<!-- /theme JS files -->

	</head>

	<body class="bg-slate-800">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<div
			class="page-content">

			<!-- Main content -->
			<div
				class="content-wrapper">

				<!-- Content area -->
				<div
					class="content d-flex justify-content-center align-items-center">

					<!-- Registration form -->
					<div class="login-form">
						<div class="card mb-0">
							<div class="card-body"> {{ form_start(registrationForm) }}
								<div class="text-center mb-3">
									<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
									<h5 class="mb-0">Créer un compte</h5>
									<span class="d-block text-muted">Tous les champs sont requis</span>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">Vos identifiants
									</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left"> {{ form_widget(registrationForm.name , {attr:{'class':'form-control','placeholder':'Nom'}}) }}
									<div class="form-control-feedback">
										<i class="icon-user-check text-muted"></i>
									</div>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left"> {{ form_widget(registrationForm.firstname , {attr:{'class':'form-control','placeholder':'Prénom'}}) }}
									<div class="form-control-feedback">
										<i class="icon-user-check text-muted"></i>
									</div>
								</div>
								<div class="form-group form-group-feedback form-group-feedback-left"> {{ form_widget(registrationForm.email , {attr:{'class':'form-control','placeholder':'Email'}}) }}
									<div class="form-control-feedback">
										<i class="icon-mention text-muted"></i>
									</div>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">Mot de passe</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left"> {{ form_widget(registrationForm.plainPassword , {attr:{'class':'form-control','placeholder':'mot de passe', 'label':'password'}}) }}
									<div class="form-control-feedback">
										<i class="icon-user-lock text-muted"></i>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Créer compte
									<i class="icon-circle-right2 ml-2"></i>
								</button> {{ form_end(registrationForm) }}
							</div>
						</div>
					</div>
					<!-- /registration form -->

				</div>
				<!-- /content area -->


			</div>
			<!-- /main content -->

		</div>
	</body>
</html>
