{% extends 'base.html.twig' %}
{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a href="{{ path('operation_stock_don_index') }}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i>
							Liste des opérations Stock Don
						</a>
						<a href="#" class="breadcrumb-item">
							Modification d'opération Stock Don
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header -->
		<div class="grix xs4 container">
			<div class="col-xs4">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="col-12">
					<div class="col-xs4">
						<div class="content-wrapper">

							<div
								class="content">

								<!-- Inner container -->
								<div
									class="d-flex align-items-start flex-column flex-md-row">
									<!-- Left content -->
									<div class="tab-content w-100 overflow-auto order-2 order-md-1">
										<div
											class="tab-pane fade active show" id="settings">
											<!-- Profile info -->
											<div class="card">
												<div class="card-header bg-white header-elements-inline">
													<h5 class="card-title">
														Modifier l'opération Stock de don
													</h5>
													<div class="header-elements"></div>
												</div>

												<div class="card-body"> {{ form_start(formDon) }}

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>Nom Donataire
																	<span class="text-danger">*</span>
																</label> {{ form_widget(formDon.nomdonataire , {attr:{'class':'form-control'}}) }}
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>évènement
																	<span class="text-danger"></span>
																</label> {{ form_widget(formDon.evenement, {attr:{'class':'form-control form-control-select2'}}) }}
															</div>
														</div>
													</div>
													<div class="row">

														<div class="col-md-6">
															<div class="form-group">
																<label>Stipulation
																	<span class="text-danger">*</span>
																</label> {{ form_widget(formDon.stipulation , {attr:{'class':'form_control form-control-select2'}}) }}
															</div>
														</div>
														<div class="col-md-6 d-none" id="champ_date">
															<div class="form-group">
																<label>Date Zakat
																	<span class="text-danger">*</span>
																</label> {{ form_widget(formDon.datelimitezakat , {attr:{'class':'form_control'}}) }}

															</div>
														</div>
													</div>
													<div class="text-right"> {{ form_row(formDon.Enregistrer , {attr:{'class':'btn btn-primary'}}) }}
													</div> {{ form_end(formDon) }}
												</div>
											</div>
										</div>
										<!-- /left content -->
									</div>
									<!-- /inner container -->
								</div>
								<!-- Content area -->

								<div class="content"></div>
								<!-- /content area -->
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block javascript %}
		<script type="text/javascript">
			$(document).ready(function () {

$('#operation_stock_don_stipulation').on('select2:select', function (e) {
if ($(this).val() === 'Zakat') {
$('#champ_date').removeClass('d-none');
} else {
$('#champ_date').addClass('d-none');
}
});
});
		</script>
	{% endblock %}
