
{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<div class="col-xs4">
			        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="col-12">
					   <div class="col-xs4">
					   <div class="content-wrapper">

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">
					<!-- Left content -->
					<div class="tab-content w-100 overflow-auto order-2 order-md-1">
					    <div class="tab-pane fade active show" id="settings">
							<!-- Profile info -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h5 class="card-title">Modification du profil de  {{ app.user.name }}</h5>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-body">
								
									<div class="form-group">
										<div class="row">
											<div class="col-md-6">

								            	<h5> <i class="icon-user"></i>Nom et Prénom: {{ app.user.name }}  {{ app.user.firstname }}</h5>  
												<h5> <i class="icon-vcard mr-2 icon-4x"></i> Rôle :
													<ul>
														{% for index, role in app.user.roles %}
															{% if role != 'ROLE_USER' %}
																<li>{{ role }}</li>
															{% endif %}
														{% endfor %}
													</ul>
												</h5>
												<h5> <i class="icon-envelop2"></i>  Email : {{ app.user.email }}</h5> 
						                    </div>
										    <div class="col-md-6">
												
											</div>
										</div>
									</div>
									<div class="text-right">
				                        	<a  class="btn btn-primary" href="{{ path('user_profil_modifier') }}">Modifier</a>
				                        </div>	
								</div>
							</div>
							<!-- /profile info -->
				    	</div>
					</div>
					<!-- /left content -->


					<!-- Right sidebar component -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">

							<!-- User card -->
							<div class="card">
								<div class="card-body text-center">
									<div class="card-img-actions d-inline-block mb-3">
										<img class="img-fluid rounded-circle" src="{{asset('templateAdmin/global_assets/images/placeholders/placeholder.jpg')}}" width="170" height="170" alt="">
										<div class="card-img-actions-overlay card-img rounded-circle">
											<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
												<i class="icon-plus3"></i>
											</a>
											<a href="user_pages_profile.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
												<i class="icon-link"></i>
											</a>
										</div>
									</div>

						    		<h6 class="font-weight-semibold mb-0">{{ app.user.firstname }} {{ app.user.name }}</h6>
						    		<span class="d-block text-muted"></span>


						    	</div>
					    	</div>
					    	<!-- /user card -->
						</div>
						<!-- /sidebar content -->
					</div>
					<!-- /right sidebar component -->
				</div>
				<!-- /inner container -->
			</div>
			<!-- Content area -->
			<div class="content">
			</div>
			<!-- /content area -->
		</div>


                        
		</div>
        
	</div>
{% endblock %}