{% extends 'base.html.twig' %}
{% block body %}
<!-- Main content -->
<div
	class="content-wrapper">

	<!-- Page header -->
	<div class="page-header page-header-light">
		<div class="page-header-content header-elements-md-inline">
			<div class="d-flex">
				<div class="breadcrumb">
					<a href="{{path('evenement_dashboard')}}" class="breadcrumb-item">
						<i class="icon-home2 mr-2"></i>
						Dashboard Social</a>

				</div>

				<a href="#" class="header-elements-toggle text-default d-md-none">
					<i class="icon-more"></i>
				</a>
			</div>


		</div>
	</div>
	<!-- /page header -->
	<!-- dashboard financier -->
	<!-- Content area -->
			<div class="content"> <!-- Pie and donut -->
			<div class="row">
				<div class="col-xl-12">
				<!-- Basic donut -->
					<!-- Quick stats boxes -->
						<div class="row"> <div
							class="col-lg-4">

							<!-- Members online -->
							<div class="card bg-teal-400">
								<div class="card-body">
									<div class="d-flex">
										<h3 class="font-weight-semibold mb-0">{{nbAdherentEncour}}</h3>
										<span class="badge bg-teal-800 badge-pill align-self-center ml-auto">En cours</span>
									</div>

									<div>
										Le nombre des dossiers non traité
									</div>
								</div>

								<div class="container-fluid">
									<div id="members-online"></div>
								</div>
							</div>
							<!-- /members online -->

						</div>

						<div
							class="col-lg-4">

							<!-- Current server load -->
							<div class="card bg-pink-400">
								<div class="card-body">
									<div class="d-flex">
										<h3 class="font-weight-semibold mb-0">{{nbAdherentreporte}}</h3>
										<span class="badge bg-pink-800 badge-pill align-self-center ml-auto">Reporté</span>
										<!--<a href="#" class="badge bg-pink-800 badge-pill align-self-center ml-auto"><i class="icon-spinner11"></i></a>-->
									</div>

									<div>
										Le nombre des dossiers reporté
									</div>
								</div>

								<div id="server-load"></div>
							</div>
							<!-- /current server load -->

						</div>

						<div
							class="col-lg-4">

							<!-- Today's revenue -->
							<div class="card bg-blue-400">
								<div class="card-body">
									<div class="d-flex">
										<h3 class="font-weight-semibold mb-0">{{nbAdherentAccepte}}</h3>
										<span class="badge bg-info-800 badge-pill align-self-center ml-auto">Accepté</span>

									</div>

									<div>
										Le nombre des dossiers accepté
									</div>
								</div>

								<div id="today-revenue"></div>
							</div>
							<!-- /today's revenue -->

						</div>
					</div>
					<!-- /quick stats boxes -->

					<!-- /basic donut -->

				</div>
			</div>
			<!-- /pie and donut -->

			<!-- Zoom option -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Statisque des opérations événements</h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a>
							<a class="list-icons-item" data-action="reload"></a>
							<a class="list-icons-item" data-action="remove"></a>
						</div>
					</div>
				</div>

				<div class="card-body">
					<form name="evenement" method="post">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Date début<span class="text-danger">*</span>
									</label>
									<input type="month" id="datedebut" name="datedebut" value="{{ app.request.request.get('datedebut') }}" required="required" class="form-control">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Date fin
										<span class="text-danger">*</span>
									</label>
									<input type="month" id="datefin" name="datefin" value="{{ app.request.request.get('datefin') }}" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Evénement<span class="text-danger">*</span>
									</label>
									<select id="evenement" name="evenement" required="required" class="form-control">
										{% for evenement in evenements %}
											<option value="{{ evenement.id }}" {% if evenement.id == app.request.request.get('datedebut') %} selected="selected" {% endif %}>{{ evenement.nom }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="text-right">
							<div class="form-group">
								<button type="submit" id="Valider" class="btn btn-primary btn">Valider</button>
							</div>
						</div>
					</form>
				</div> {{ include('evenement/scriptstatistique.html.twig', {'tabaide': tabaide, 'tabdon': tabdon}) }}

			</div>
			<!-- /zoom option -->
		</div>
		<!-- /content area -->
		
	</div>
{% endblock %}
