{% extends 'base.html.twig' %}
{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="breadcrumb">
					<a href="{{ path('evenement_index') }}" class="breadcrumb-item">
						<i class="icon-home2 mr-2"></i>
						Liste des evenements
					</a>
					<a href="{{ path('evenement_new') }}" class="breadcrumb-item">
						Créer un nouveau evenement
					</a>

				</div>
			</div>
		</div>
		<!-- /page header -->
		<div class="grix xs4 container">
			<div class="col-xs4">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="col-12">
					<div class="col-xs4">
						<div class="content-wrapper">

							<div
								class="content">

								<!-- Inner container -->
								<div
									class="d-flex align-items-start flex-column flex-md-row">
									<!-- Left content -->
									<div class="tab-content w-100 overflow-auto order-2 order-md-1">
										<div
											class="tab-pane fade active show" id="settings">
											<!-- Profile info -->
											<div class="card">
												<div class="card-header header-elements-inline">
													<h5 class="card-title">
														Créer un nouveau evenement
													</h5>
													<div class="header-elements"></div>
												</div>

												<div class="card-body"> {{ form_start(form) }}

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>Nom
																</label> {{ form_widget(form.nom , {attr:{'class':'form-control'}}) }}
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>Type d'evenement
																</label> {{ form_widget(form.typeEvenement , {attr:{'class':'form-control'}}) }}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>date debut
																</label> {{ form_widget(form.datedebut , {attr:{'class':'form-control'}}) }}
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>date fin
																</label> {{ form_widget(form.datefin , {attr:{'class':'form-control'}}) }}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>le montant 
																</label> {{ form_widget(form.montantunitaire , {attr:{'class':'form_control'}}) }}
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>
																	Liste produit
																</label> {{ form_widget(form.produit , {attr:{'class':'form-control form-control-select2'}}) }}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>liste des adherents
																</label> {{ form_widget(form.adherent , {attr:{'class':'form_control form-control-select2'}}) }}
															</div>
														</div>
													</div>
													<div class="row">

														<div class="text-right"> {{ form_row(form.Enregistrer , {attr:{'class':'btn btn-primary'}}) }} {{ form_end(form) }}
														</div>

													</div>
												</div>
												<!-- /profile info -->

											</div>
										</div>
										<!-- /left content -->
									</div>
									<!-- /inner container -->
								</div>
								<!-- Content area -->

								<div class="content"></div>
								<!-- /content area -->
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
