{% extends 'base.html.twig' %}
{% block style %}
	<!-- Core JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/main/jquery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/ui/ripple.min.js') }}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>


	<script src="{{asset('templateAdmin/global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
	<!-- /theme JS files -->

{% endblock %}

{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb"></div>

					<a href="#" class="header-elements-toggle text-default d-md-none">
						<i class="icon-more"></i>
					</a>
				</div>

			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div
			class="content">

			<!-- Basic datatable -->
			<div class="card">

				<div class="card-header header-elements-inline">

					<h4 class="card-title">
						Evenement de :
						{{ evenement.nom }}
					</h4>
				</div>


				<div class="row">


					
					<div class="col-lg-4">
						<div class="for-group">


							<div class="d-flex align-items-center">
								<i class="icon-calendar mr-2 icon-4x"></i>
								<div class="font-weight-black ">Type d'evenement :</div>

								<samp class="font-size-lg">{{ evenement.typeEvenement}}</samp>
							</div>

							<br>
							<div class="d-flex align-items-center">
								<i class="icon-calendar2 mr-2 icon-4x"></i>
								<div class="font-weight-black">Date debut d'evenement :
								</div>
								<samp class="font-size-lg">{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : '' }}</samp>

							</div>
							<br>
							<div class="d-flex align-items-center">
								<i class="icon-calendar2 mr-2 icon-4x"></i>
								<div class="font-weight-black">Date fin d'evenement :
								</div>
								<samp class="font-size-lg">{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</samp>

							</div>


						</div>
					</div>

				</div>


				<table class="table datatable-basic">

					<thead>
						<tr>

							<th>id</th>
							<th>Nom et prénom</th>
							<th>Adresse</th>
							<th>Telephone</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for adherent in adherents|reverse %}
							<tr>
								<td>{{ adherent.id }}</td>
								<td>{{ adherent.nom }}</td>
								<td>{{ adherent.adresse }}</td>
								<td>{{ adherent.telephone }}</td>

								<td>
									<div class="list-icons">


										{% if adherent.statut=="actif"%}
											<a href="#" class="list-icons-item text-danger-600" data-target="#modal_archive{{adherent.id}}" data-toggle="modal"></a>
										{% else %}
											<a href="#" class="list-icons-item text-darck-600" data-target="#modal_desarchive{{adherent.id}}" data-toggle="modal"></a>
										{% endif %}
										<a href="{{path("adherent_show" , {id: adherent.id})}}" class="list-icons-item text-teal-600">
											<i class="icon-reading"></i>
										</a>
										<a href="#" class="list-icons-item text-teal-600">
											<i class="icon-checkmark-circle text-green"></i>
										</a>
									</div>
								</td>
								<td class="text-center"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>{% endblock %}
