{% extends 'base.html.twig' %}
{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a href="{{path('operation_financiere_don_index')}}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i>
							Liste des opérations Financière Don</a>

					</div>

					<a href="#" class="header-elements-toggle text-default d-md-none">
						<i class="icon-more"></i>
					</a>
				</div>


			</div>
		</div>
		<!-- /page header -->


		<!-- Content area -->
		<div
			class="content">

			<!-- Basic datatable -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Liste des opérations Financière Don</h5>
					<div class="card-title-left">
						<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" href="{{path('operation_financiere_don_new')}}">
							<b>
								<i class="icon-diff-added"></i>
							</b>
							Ajouter une nouvelle opération Financière
						</a>
					</div>

				</div>

				<table class="table datatable-basic">
					<thead>
						<tr>
							<th>Id</th>
							<th>Donataire</th>
							<th>Montant</th>
							<th>Responsable</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for operation_financiere in operation_financieres|reverse  %}
							<tr>
								<td>{{ operation_financiere.id }}</td>
								<td>{{ operation_financiere.nomdonataire }}</td>
								<td>{{ operation_financiere.montant }}</td>
								<td>{{ operation_financiere.Responsable }}</td>
								<td>
									<a class="list-icons-item text-primary-600" href="{{ path('operation_financiere_don_edit', {'id': operation_financiere.id}) }}">
										<i class="icon-pencil7" data-popup="tooltip-custom" title="Modifier l'opération financière de don"></i>
									</a>
									<a href="#" data-target="#modal_delete{{operation_financiere.id}}" data-toggle="modal" data-id={{operation_financiere.id}} class="list-icons-item text-danger-600">
										<i class="icon-trash" data-popup="tooltip-custom" title="Supprimer l'opération financière de don"></i>
									</a>
								<!--	<a href="{{ path('operation_financiere_don_show', {'id': operation_financiere.id}) }}" class="list-icons-item text-teal-600">
										<i class="icon-reading" data-popup="tooltip-custom" title="Afficher l'opération financière de don"></i>
									</a>-->
									<!--bouton historique-->
									<a href="#" data-target="#modal_affiche_historique_don{{operation_financiere.id}}" data-toggle="modal" data-id={{operation_financiere.id}} data-popup="tooltip-custom" title="l'historique de l'operation financièr de don" class="list-icons-item text-pink-600">
										<i class="icon-history"></i>
									</a>
									<!--/bouton historique-->
									<div id="modal_delete{{operation_financiere.id}}" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header bg-danger">
													<h6 class="modal-title">Supprimer L'opération Financière Don {{operation_financiere.id}}</h6>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<div class="modal-body">
													<p>Êtes-vous sûr de vouloir supprimer ?</p>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
													<a type="button" class="btn bg-danger" href="{{path("operation_financiere_don_delete" , {id: operation_financiere.id})}}">Valider</a>
												</div>
											</div>
										</div>
									</div>
									<!--modal historique-->
									<div id="modal_affiche_historique_don{{operation_financiere.id}}" class="modal fade" tabindex="-1">
										<div class="modal-dialog modal-full">
											<div class="modal-content">
												<div class="modal-header bg-slate">
													<h6 class="modal-title">liste des historiques d'operation {{operation_financiere.id}}</h6>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<div class="modal-body">

													<table class="table datatable-basic">
														<thead>
															<tr>
																<th>Id</th>
																<th>User</th>
																<th>Date</th>
																<th>Action</th>
																<th>Les champs modifiés</th>
															</tr>
														</thead>
														<tbody>
															{% for historiquedon in historiquedons  %}
																{% if historiquedon.idligne == operation_financiere.id %}
																	<tr>
																		{% set ancien = historiquedon.modifications['ancien'] %}
																		{% set nouveau = historiquedon.modifications['nouveau'] %}
																		<td>{{ historiquedon.id }}</td>
																		<td>{{ historiquedon.user }}</td>
																		<td>{{ historiquedon.datemodif|date('d-m-Y-h:m:s') }}</td>
																		<td>{{ historiquedon.typeoperation  }}</td>

																		<td>
																			<button type="button" class="btn bg-warning legitRipple" data-popup="popover" title="Ancien" title="Ancien" data-trigger="hover" data-content=" Montant : {{ ancien ? ancien['montant'] : 0}}">Ancien</button>
																			<button type="button" class="btn btn-success" data-popup="popover" title="Nouveau" title="Nouveau" data-trigger="hover" data-content=" Montant : {{ nouveau ? nouveau['montant'] : 0}}">Nouveau</button>
																		</td>
																		<td class="text-center"></td>
																	</tr>
																{% endif %}
															{% endfor %}

														</tbody>
													</table>

												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-black" data-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>

									<!--/modal historique-->
								</td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- /basic datatable -->
			</div>
		</div>
	</div>
{% endblock %}
