 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Manage Donation</title>

	<!-- Global
	 stylesheets -->
	<link href="{{asset('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/global_assets/css/icons/icomoon/styles.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/assets/css/bootstrap_limitless.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/assets/css/layout.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/assets/css/components.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('templateAdmin/assets/css/colors.min.css')}}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/main/jquery.min.js')}}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/main/bootstrap.bundle.min.js')}}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/loaders/blockui.min.js')}}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/uniform.min.js')}}"></script>

	<script src="{{asset('assets/js/app.js')}}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/demo_pages/login.js')}}"></script>
	<!-- /theme JS files -->

</head>
<body class="bg-slate-800">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
			<div
			class="d-flex align-items-start flex-column flex-md-row">
			<!-- Left content -->
			<div class="tab-content w-100 overflow-auto order-2 order-md-1">
				<div
					class="tab-pane fade active show" id="settings">
					<!-- Profile info -->
					<div class="card">
						<div class="card-body">
					<div class="card-header header-elements-inline">

				<h2 style="color:teal">Bienvenu
				</h2>
				<div class="header-elements"></div>
			</div>
					<h3 >Votre demande d'inscription a été envoyée avec succès.</h3>
					<h5>Vérifiez le site de temps en temps afin de savoir que l'inscription a été approuvée.</h5>
					</div>
					</div>
					<!-- /profile info -->

				</div>
			</div>
			<!-- /left content -->
		</div>
			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>



   