{% extends 'base.html.twig' %}

{% block title %}Modification le dossier de {{ adherent.nom }}
{% endblock %}


{% block body %}


	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="breadcrumb">
					<a href="{{path('adherent_index')}}" class="breadcrumb-item">
						<i class="icon-home2 mr-2"></i>
						Liste des dossiers</a>
					<a href="#" class="breadcrumb-item">Modifier un dossier
					</a>
				</div>
			</div>
		</div>
		<!-- /page header -->
		<div class="grix xs4 container">
			<div class="col-xs4">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="col-12 m-0">
					<div class="col-xs4">
						<div class="content-wrapper">

							<div
								class="content">

								<!-- Inner container -->
								<div
									class="d-flex align-items-start flex-column flex-md-row">
									<!-- Left content -->
									<div class="tab-content w-100 overflow-auto order-2 order-md-1">
										<div class="tab-pane fade active show" id="settings">
											<div
												class="content">

												<!-- Wizard with validation -->
												<div class="card">

													<div class="card-header bg-white header-elements-inline">
														<h6 class="card-title">Modifier le dossier de {{adherent.nom}}</h6>

													</div> {{ form_start(form , {attr:{'class':'wizard-form steps-validation'}}) }}

													<h6>information personnelle</h6>
													<fieldset>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Nom et Prénom
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.nom , {attr:{'class':'form-control'}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>Numéro de carte d'identité
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.cin , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Numéro de téléphone<span class="text-danger">*</span>
																	</label> {{ form_widget(form.telephone , {attr:{'class':'form-control'}}) }}

																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>L'état civil
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.etatcivil , {attr:{'class':'form-control form-control-select2'}}) }}

																</div>


															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Adresse</label>
																	<span class="text-danger">*</span> {{ form_widget(form.adresse , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>Nombre de membres de la famille
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.nombrefamille , {attr:{'class':' form-control'}}) }}


																</div>


															</div>

														</div>
													</fieldset>

													<h6>statut résidentiel</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">

																<label>propriété de logement
																	<span class="text-danger">*</span>
																</label> {{ form_widget(form.logement , {attr:{'class':'form-control form-control-select2'}}) }}

															</div>
															<div id="prix_location" class="col-md-6">

																<label>Prix location maison
																</label> {{ form_widget(form.prixlocation , {attr:{'class':'form-control '}}) }}

															</div>

														</div>
														<div class="row">
															<div class="col-md-6">

																<label>Disponibilité d'eau
																	<span class="text-danger">*</span>
																</label> {{ form_widget(form.eau , {attr:{'class':'form-control form-control-select2'}}) }}

															</div>
															<div class="col-md-6">

																<div class="form-group">
																	<label>Disponibilité d'électricité
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.electricite , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div
																	class="form-group">
																	<!--Prixlocation-->

																	<div class="form-group">
																		<label>Nombre de chambres
																			<span class="text-danger">*</span>
																		</label> {{ form_widget(form.nombrechambre , {attr:{'class':' form-control'}}) }}
																	</div>
																</div>
															</div>

														</div>

													</fieldset>

													<h6>Etat de santé</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>A-t-il un handicap ?
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.handicap , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>

															</div>
															<div class="col-md-6">
																<div id="adherent_typehandicap" class="form-group">
																	<label>Type d'handicap
																	</label> {{ form_widget(form.typehandicap , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>maladie chronique ?(lui ou membre de famille)
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.maladiechronique , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>

															</div>
															<div class="col-md-6">
																<div id="adherent_typemaladiechronique" class="form-group">
																	<label>Type maladie chronique ?
																	</label> {{ form_widget(form.typemaladiechronique , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

														</div>
													</fieldset>

													<h6>Revenu familial et Résumé de la situation sociale</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Montant du revenu
																		<span class="text-danger">*</span> </label>{{ form_widget(form.montantrevenu , {attr:{'class':'form-control'}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>source revenu
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.source , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Resumé
																		<span class="text-danger">*</span>
																		 </label>{{ form_widget(form.resume , {attr:{'class':'form-control  '}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>La Demande
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.demande , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Type de dossier
																		<span class="text-danger">*</span>
																	</label> {{ form_widget(form.typeadherent , {attr:{'class':'form-control form-control-select2'}}) }}
																</div>
															</div>

														</div>
														<div class="row">
															<div class="col-md-12">
																<div class="form-group">
																	<label>Telecharger les pieces jointes:
																		<span class="text-danger">*</span> {{ form_widget(form.piecesjointes , {attr:{'class':'file-input-ajax' }}) }}
																	</label>
																</div>
															</div>
														</div>
														<div class="text-right"> {{ form_end(form) }}
														</div>
													</fieldset>
												</div>
												<!-- /wizard with validation -->


											</div>
											<!-- /content area -->
										</div>
									</div>
									<!-- /left content -->
								</div>
								<!-- /inner container -->
							</div>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>

	<script>

		$(document).ready(function () {
$("#adherent_logement").change(function () {
value = $("#adherent_logement").val();
if (value == 'Locataire') {
$("#prix_location").show();
} else {
$("#prix_location").hide();
}
});
$("#adherent_handicap").change(function () {
value2 = $("#adherent_handicap").val();
if (value2 == 'Oui') {
$("#adherent_typehandicap").show();
} else {
$("#adherent_typehandicap").hide();
}
});
$("#adherent_maladiechronique").change(function () {
value2 = $("#adherent_maladiechronique").val();
if (value2 == 'Oui') {
$("#adherent_typemaladiechronique").show();
} else {
$("#adherent_typemaladiechronique").hide();
}
});
});
	</script>
{% endblock %}
{% block javascript %}
	<script>
		$(document).ready(function () {
$('.custom-file').removeClass('custom-file')
$('input[id=adherent_piecesjointes').removeClass('form-control custom-file-input')
$('label[for=adherent_piecesjointes').remove();
})
	</script>
{% endblock %}
