{% extends 'base.html.twig' %}

{% block title %}Modification le dossier de
	{{ adherent.nom }}
{% endblock %}


{% block body %}


	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="breadcrumb">
					<a href="{{path('adherent_index')}}" class="breadcrumb-item">
						<i class="icon-home2 mr-2"></i>
						Liste des dossiers</a>
					<a href="{{path('adherent_new')}}" class="breadcrumb-item">Modifier un dossier
					</a>

				</div>


			</div>


		</div>
		<!-- /page header -->
		<div class="grix xs4 container">
			<div class="col-xs4">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="col-12">
					<div class="col-xs4">
						<div class="content-wrapper">

							<div
								class="content">

								<!-- Inner container -->
								<div
									class="d-flex align-items-start flex-column flex-md-row">
									<!-- Left content -->
									<div class="tab-content w-100 overflow-auto order-2 order-md-1">
										<div class="tab-pane fade active show" id="settings">
											<div
												class="content">

												<!-- Wizard with validation -->
												<div class="card">
													<div class="card-title-left">
												
														<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" href="#" data-target="#modal_ajout_benificiaire" data-toggle="modal">
															<b>
																<i class="icon-reading"></i>
															</b>
															Ajouter un nouveau membre famille</a>
													</div>
													<div class="card-header bg-white header-elements-inline">
														<h6 class="card-title">Modifier le dossier de
															{{adherent.nom}}</h6>

													</div>

													{{ form_start(form , {attr:{'class':'wizard-form steps-validation'}}) }}

													<h6>information personnelle</h6>
													<fieldset>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Nom et Prénom
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.nom , {attr:{'class':'form-control'}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>Numéro de carte d'identité
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.cin , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Numéro de téléphone<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.telephone , {attr:{'class':'form-control'}}) }}

																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>L'état civil
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.etatcivil , {attr:{'class':'form-control form-control-select2'}}) }}

																</div>


															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Adresse</label>
																	<span class="text-danger">*</span>
																	{{ form_widget(form.adresse , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>Nombre de membres de la famille
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.nombrefamille , {attr:{'class':' form-control'}}) }}


																</div>


															</div>

														</div>
													</fieldset>

													<h6>statut résidentiel</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">

																<label>propriété de logement
																	<span class="text-danger">*</span>
																</label>
																{{ form_widget(form.logement , {attr:{'class':'form-control form-control-select2'}}) }}

															</div>
															<div class="col-md-6">

																<label>Prix location maison
																	<span class="text-danger">*</span>
																</label>
																{{ form_widget(form.prixlocation , {attr:{'class':'form-control '}}) }}

															</div>

														</div>
														<div class="row">
															<div class="col-md-6">

																<label>Disponibilité d'eau
																	<span class="text-danger">*</span>
																</label>
																{{ form_widget(form.eau , {attr:{'class':'form-control form-control-select2'}}) }}

															</div>
															<div class="col-md-6">

																<div class="form-group">
																	<label>Disponibilité d'électricité
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.electricite , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div
																	class="form-group">
																	<!--Prixlocation-->

																	<div class="form-group">
																		<label>Nombre de chambres
																			<span class="text-danger">*</span>
																		</label>
																		{{ form_widget(form.nombrechambre , {attr:{'class':' form-control'}}) }}
																	</div>
																</div>
															</div>
															
														</div>

													</fieldset>

													<h6>Etat de santé</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>A-t-il un handicap ?
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.handicap , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>

															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label>Type d'handicap
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.typehandicap , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

														</div>
														
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>maladie chronique ?(lui ou membre de famille) 
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.maladiechronique , {attr:{'class':'form-control form-control-select2'}}) }}


																</div>

															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label>Type maladie chronique ?
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.typemaladiechronique , {attr:{'class':' form-control'}}) }}
																</div>
															</div>

														</div>
													</fieldset>

													<h6>Revenu familial et Résumé de la situation sociale</h6>
													<fieldset>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Montant du revenu
																		<span class="text-danger">*</span>
																		{{ form_widget(form.montantrevenu , {attr:{'class':'form-control'}}) }}

																	</label>
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>source revenu
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.source , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Resumé
																		<span class="text-danger">*</span>
																		{{ form_widget(form.resume , {attr:{'class':'form-control  '}}) }}


																	</label>
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group">
																	<label>La Demande
																		<span class="text-danger">*</span>
																	</label>
																	{{ form_widget(form.demande , {attr:{'class':'form-control'}}) }}
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>Telecharger les pieces jointes:
																		<span class="text-danger">*</span>

																		{{ form_widget(form.piecesjointes , {attr:{'class':'form-input-styled ' ,'value':'{{ }}'}}) }}

																	</label>
																</div>
															</div>

														</div>
														<div class="text-right">
															{{ form_row(form.Enregistrer , {attr:{'class':'btn btn-primary'}}) }}
															{{ form_end(form) }}
														</div>
													</fieldset>
												</div>
												<!-- /wizard with validation -->
												{{ form_start(formBen) }}

																		<div class="modal-body">

																			<div class="text-right"></div>
																		</div>

																		<div class="modal-footer">
																			<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>

																			
																		</div>
																		{{ form_end(formBen) }}
												<table class="table datatable-basic">

													<thead>
														<tr>

															<th>id</th>
															<th>Relation familiale</th>
															<th>Nom et prénom</th>
															<th>date de naissance</th>
															<th>niveau d'etude</th>
															<th>metier</th>
															<th>action</th>
														</tr>
													</thead>
													<tbody>
														{% for benificiaire in benificiaires %}
															<tr>
																<td>{{ benificiaire.id }}</td>
																<td>{{ benificiaire.relationfamiliale }}</td>
																<td>{{ benificiaire.nom }}</td>
																<td>{{ benificiaire.datenaissance ? benificiaire.datenaissance|date('Y-m-d') : '' }}</td>
																<td>{{ benificiaire.niveauetude }}</td>
																<td>{{ benificiaire.metier }}</td>

																<td>
																	<div class="list-icons">
																		<a href="{{ path('adherent_edit', {'id': adherent.id}) }}" class="list-icons-item text-primary-600">
																			<i class="icon-pencil7"></i>
																		</a>
																		<!--bouton trach-->
																		<!--<a href="#" class="list-icons-item text-danger-600" data-target="#modal_delete{{adherent.id}}" data-toggle="modal">
																																																																																													<i class="icon-trash"></i>
																																																																																												</a>-->
																		<!--/bouton trach-->

																			<a href="{{path("adherent_show" , {id: adherent.id})}}" class="list-icons-item text-teal-600"> <i class="icon-reading"></i>
																		</a>
																	</div>


																</td>
																<td class="text-center"></td>

															</tr>


															<!--modal_ajout_benificiaire-->
															<div id="modal_ajout_benificiaire" class="modal fade" tabindex="-1">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header bg-danger">
																			<h4 class="modal-title">Vous allez ajouter un membre famille au {{adherent.nom}}
																			</h4>
																			<button type="button" class="close" data-dismiss="modal">&times;</button>
																		</div>
																		
																	</div>
																</div>
															</div>
															<!--/modal_ajout_benificiaire-->

															<!--modal supression-->
															<div id="modal_delete{{adherent.id}}" class="modal fade" tabindex="-1">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header bg-danger">
																			<h4 class="modal-title">Confirmez-vous la suppression ?
																			</h4>
																			<button type="button" class="close" data-dismiss="modal">&times;</button>
																		</div>

																		<div class="modal-body">
																			<p>
																				<h5>Voulez vous supprimer le dossier de
																					{{adherent.nom}}?</h5>
																			</p><br><h6>si vous confirmez, votre dossier sera effacé</h6>
																		</div>

																		<div class="modal-footer">
																			<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
																			<a type="button" class="btn bg-danger" href="{{path("adherent_delete" , {id: adherent.id})}}">Valider</a>
																		</div>
																	</div>
																</div>
															</div>
															<!--/modal supression-->

														</div>
													</tbody>
												{% endfor %}

											</tbody>
										</table>
									</div>
									<!-- /content area -->
								</div>
							</div>
							<!-- /left content -->
						</div>
						<!-- /inner container -->
					</div>
				</div>


			</div>

		</div>
	</div>
</div></div>{% endblock %}
