{% extends 'base.html.twig' %}

{% block title %}Adhérent index
{% endblock %}


{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a href="{{path('adherent_index')}}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i>
							Liste des dossiers</a>

					</div>

					<a href="#" class="header-elements-toggle text-default d-md-none">
						<i class="icon-more"></i>
					</a>
				</div>


			</div>
		</div>
		<!-- /page header -->


		<!-- Content area -->
		<div
			class="content">

			<!-- Basic datatable -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Liste des dossiers</h5>
					<div class="card-title-left">
						<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" href="{{path('adherent_new')}}">
							<b>
								<i class="icon-reading"></i>
							</b>
							Ajouter un nouvel Adhérent</a>
					</div>

				</div>

				<table class="table datatable-basic">

					<thead>
						<tr>

							<th>id</th>
							<th>Nom et prénom</th>
							<th>Adresse</th>
							<th>Téléphone</th>
							<th>Etat Adhérent</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for adherent in adherents|reverse %}
							<tr>
								<td>{{ adherent.id }}</td>
								<td>{{ adherent.nom }}</td>
								<td>{{ adherent.adresse }}</td>
								<td>{{ adherent.telephone }}</td>
								<td>{{ adherent.etatreunion }}</td>

								<td>
									<div class="list-icons">
										<a href="{{ path('adherent_edit', {'id': adherent.id}) }}" data-popup="tooltip-custom" title="Modifier l'adhérent  " class="list-icons-item text-primary-600">
											<i class="icon-pencil7"></i>
										</a>

										{% if adherent.statut=="actif"%}
											<a href="#" class="list-icons-item text-danger-600" data-popup="tooltip-custom" title="Archiver l'adhérent" data-target="#modal_archive{{adherent.id}}" data-toggle="modal">
												<i class="icon-folder-remove"></i>
											</a>
										{% else %}
											<a href="#" class="list-icons-item text-darck-600" data-popup="tooltip-custom" title="Désarchiver l'adhérent" data-target="#modal_desarchive{{adherent.id}}" data-toggle="modal">
												<i class="icon-folder-remove"></i>
											</a>
										{% endif %}
										<a href="{{path("adherent_show" , {id: adherent.id})}}" data-popup="tooltip-custom" title="Afficher l'adhérent"  class="list-icons-item text-teal-600">
											<i class="icon-reading"></i>
										</a>
										<a href="{{ url('adherent_pdf', {'adherent': adherent.id}) }}" data-popup="tooltip-custom" title="Imprimer l'adhérent" class="list-icons-item text-teal-600">
														<i class="icon-file-pdf"></i>
														</a>
										
									
									</div>


								</td>

							</tr>
							<!--modal archive-->
							<div id="modal_archive{{adherent.id}}" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bg-danger">
											<h4 class="modal-title">Confirmez-vous l'archivage ?
											</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>

										<div class="modal-body">
											<p>
												<h5>Voulez vous archiver le dossier de
													{{adherent.nom}}?</h5>
											</p><br><h6>si vous confirmez, votre dossier sera deplacer au archive</h6>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
											<a type="button" class="btn bg-danger" href="{{path("adherent_archiver" , {adherent: adherent.id,statut:'desactivé'})}}">Valider</a>
										</div>
									</div>
								</div>
							</div>
							<!--/modal archiver-->
							<!--modal desarchive-->
							<div id="modal_desarchive{{adherent.id}}" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bg-primary">
											<h4 class="modal-title">Confirmez-vous le desarchivage ?
											</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>

										<div class="modal-body">
											<p>
												<h5>Voulez vous desarchiver le dossier de
													{{adherent.nom}}?</h5>
											</p><br><h6>si vous confirmez, votre dossier sera deplacer au liste des adherents</h6>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
											<a type="button" class="btn bg-primary" href="{{path("adherent_archiver" , {adherent: adherent.id,statut:'actif'})}}">Valider</a>
										</div>
									</div>
								</div>
							</div>
							<!--/modal disarchiver-->

							<!--modal supression-->
							<div id="modal_delete{{adherent.id}}" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bg-danger">
											<h4 class="modal-title">Confirmez-vous la suppression ?
											</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>

										<div class="modal-body">
											<p>
												<h5>Voulez vous supprimer le dossier de
													{{adherent.nom}}?</h5>
											</p><br><h6>si vous confirmez, votre dossier sera effacé</h6>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
											<a type="button" class="btn bg-danger" href="{{path("adherent_delete" , {id: adherent.id})}}">Valider</a>
										</div>
									</div>
								</div>
							</div>
							<!--/modal supression-->


						{% endfor %}

					</tbody>

				</table>

			</div>
		</div>
	</div><!-- /basic datatable -->{% endblock %}
