{% extends 'base.html.twig' %}

{% block title %}affichage de dossier
	{{ adherent.nom }}
{% endblock %}

{% block body %}
<!--commantaire-->
	<div class="grix xs4 container">
		<div class="col-xs4">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="col-12">
				<div class="col-xs4">
					<div class="content-wrapper">

						<div
							class="content">

							<!-- Inner container -->
							<div
								class="d-flex align-items-start flex-column flex-md-row">
								<!-- Left content -->
								<div class="tab-content w-100 overflow-auto order-2 order-md-1">
									<div
										class="tab-pane fade active show" id="settings">
										<!-- Profile info -->
										<div class="card">
											<div class="card-header header-elements-inline">
												<h5 class=" text-teal text-center ">Le dossier de
													{{ adherent.nom }}</h5>
											</div>

											<div class="card-body">
												<div class="card-header header-elements-inline">
													<h5 class=" text-teal  ">INFORMATION PERSONNEL</h5>
												</div>
												<div class="form-group">
													<div class="row">
													
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-user mr-3 icon-2x"></i>
																<div class="font-weight-black">Nom et Prenom :</div>
																<samp class="font-size-lg">{{ adherent.nom }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-vcard mr-3 icon-2x"></i>
																<div class="font-weight-black">Numero de carte d'identité :</div>
																<samp class="font-size-lg">{{ adherent.cin }}</samp>

															</div>
														</div>
													</div>

												</div>
										
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-phone mr-3 icon-2x"></i>
																<div class="font-weight-black">Numero de telephone :</div>
																<samp class="font-size-lg">{{ adherent.telephone }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-address-book2 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	L'etat civil:</div>
																<samp class="font-size-lg">{{ adherent.etatcivil }}</samp>

															</div>
														</div>
													</div>

												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-pin mr-3 icon-2x"></i>
																<div class="font-weight-black">Adresse :</div>
																<samp class="font-size-lg">{{ adherent.adresse }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-users4 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Nombre membre famille:</div>
																<samp class="font-size-lg">{{ adherent.nombrefamille }}</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="card-header header-elements-inline">
													<h5 class=" text-teal  ">STATUT RESIDENTIEL</h5>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-home2 mr-3 icon-2x"></i>
																<div class="font-weight-black">propriété de logement :</div>
																<samp class="font-size-lg">{{ adherent.logement }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-cash2 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Prix location maison :</div>
																<samp class="font-size-lg">{{ adherent.prixlocation }}
																	DT</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-droplets mr-3 icon-2x"></i>
																<div class="font-weight-black">Disponibilité d'eau :</div>
																<samp class="font-size-lg">{{ adherent.eau }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-power-cord mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Disponibilité d'électricité :</div>
																<samp class="font-size-lg">{{ adherent.electricite }}
																</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-office mr-3 icon-2x"></i>
																<div class="font-weight-black">Nombre de chambres :</div>
																<samp class="font-size-lg">{{ adherent.nombrechambre }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-thumbs-down3 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Installations non disponibles :</div>
																<samp class="font-size-lg">{{ adherent.installationnondisponible }}
																</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="card-header header-elements-inline">
													<h5 class=" text-teal  ">ÉTAT DE SANTÉ
													</h5>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-4">
															<div class="d-flex align-items-center">
																<i class="icon-accessibility2 mr-3 icon-2x"></i>
																<div class="font-weight-black">A-t-il un handicap ?  :</div>
																<samp class="font-size-lg">{{ adherent.handicap }}</samp>
															</div>
														</div>
														<div class="col-md-4">
															<div class="d-flex align-items-center">
																<i class="icon-question4 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Type d'handicap  :</div>
																<samp class="font-size-lg">{{ adherent.typehandicap }}
																</samp>

															</div>
														</div>
														<div class="col-md-4">
															<div class="d-flex align-items-center">
																<i class="icon-question4 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Quelqu'un dans la famille a-t-il un handicap?   :</div>
																<samp class="font-size-lg">{{ adherent.famillehandicap }}
																</samp>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-collaboration mr-3 icon-2x"></i>
																<div class="font-weight-black">Quelqu'un dans la famille souffre-t-il d'une maladie chronique ?  :</div>
																<samp class="font-size-lg">{{ adherent.maladiechronique }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-question3 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Type maladie chronique ?  :</div>
																<samp class="font-size-lg">{{ adherent.typemaladiechronique }}
																</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="card-header header-elements-inline">
													<h5 class=" text-teal  ">REVENU FAMILIAL 									</h5>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-cash3 mr-3 icon-2x"></i>
																<div class="font-weight-black">Montant du revenu :</div>
																<samp class="font-size-lg">{{ adherent.montantrevenu }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-question6 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Source revenu ?  :</div>
																<samp class="font-size-lg">{{ adherent.source }}
																</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="card-header header-elements-inline">
													<h5 class=" text-teal  ">RESUME DE LA SITUATION SOCIALE
													</h5>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-clipboard3 mr-3 icon-2x"></i>
																<div class="font-weight-black">Resumé :</div>
																<samp class="font-size-lg">{{ adherent.resume }}</samp>
															</div>
														</div>
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-clippy mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	la demande  :</div>
																<samp class="font-size-lg">{{ adherent.demande }}
																</samp>

															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														
														<div class="col-md-6">
															<div class="d-flex align-items-center">
																<i class="icon-watch2 mr-3 icon-2x"></i>
																<div class="font-weight-black">
																	Date :</div>
																<samp class="font-size-lg">{{ adherent.demande }}
																</samp>

															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- /profile info -->
										</div>
									</div>
									<!-- /left content -->


									<!-- Right sidebar component -->
									<div
										class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

										<!-- Sidebar content -->
										<div class="sidebar-content"></div>
										<!-- /sidebar content -->
									</div>
									<!-- /right sidebar component -->
								</div>
								<!-- /inner container -->
							</div>
							<!-- Content area -->
							<div class="content"></div>
							<!-- /content area -->
						</div>


					</div>

				</div>
			{% endblock %}
