{% extends 'base.html.twig' %}

{% block title %}affichage de dossier {{ adherent.nom }}
{% endblock %}

{% block body %}

	<!--commantaire-->
	<div
		class="grix xs4 container">
		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="breadcrumb">
					<a href="{{ path('adherent_index') }}" class="breadcrumb-item">
						<i class="icon-home2 mr-2"></i>
						Liste des dossiers
					</a>
					<a href="{{ path('adherent_show', {'id': adherent.id}) }}" class="breadcrumb-item">
						Affichage de dossier {{adherent.id}}

					</a>

				</div>
			</div>
		</div>
		<!-- /page header -->
		<div class="col-xs4">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="col-12 m-O">
				<div class="col-xs4">
					<div class="page-content">
						<div
							class="content-wrapper">
							<!-- Content area -->
							<div class="content">
								<div class="row">
									<div class="col-lg-6">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-user-check mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">INFORMATION PERSONNELLE</h6>

												<a href="#collapse-icon" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon">
												<div class="mt-3">
													<div class="form-group">


														<div class="d-flex align-items-center">
															<i class="icon-user mr-2 icon-4x"></i>
															<div class="font-weight-black ">Nom et Prenom :</div>
															<samp class="font-size-lg">{{ adherent.nom }}</samp>
														</div>

														<br>
														<div class="d-flex align-items-center">
															<i class="icon-vcard mr-2 icon-4x"></i>
															<div class="font-weight-black">Numero de carte d'identité :
															</div>
															<samp class="font-size-lg">{{ adherent.cin }}</samp>

														</div>


													</div>

													<div class="form-group">

														<div class="d-flex align-items-center">
															<i class="icon-phone mr-2 icon-4x"></i>
															<div class="font-weight-black">Numero de telephone :</div>
															<samp class="font-size-lg">{{ adherent.telephone }}</samp>
														</div><br>


														<div class="d-flex align-items-center">
															<i class="icon-address-book2 mr-2 icon-4x"></i>
															<div class="font-weight-black">
																L'etat civil:</div>
															<samp class="font-size-lg">{{ adherent.etatcivil }}</samp>

														</div>


													</div>
													<div class="form-group">

														<div class="d-flex align-items-center">
															<i class="icon-pin mr-2 icon-4x"></i>
															<div class="font-weight-black">Adresse :</div>
															<samp class="font-size-lg">{{ adherent.adresse }}</samp>
														</div><br>

														<div class="d-flex align-items-center">
															<i class="icon-users4 mr-2 icon-4x"></i>
															<div class="font-weight-black">
																Nombre membre famille:</div>
															<samp class="font-size-lg">{{ adherent.nombrefamille}}</samp>

														</div>

													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="col-lg-6">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-home mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">STATUT RESIDENTIEL</h6>

												<a href="#collapse-icon2" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon2">
												<div class="mt-3">
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-home2 mr-3 icon-4x"></i>
															<div class="font-weight-black">propriété de logement :</div>
															<samp class="font-size-lg">{{ adherent.logement }}</samp>
														</div><br>

														<div class="d-flex align-items-center">
															<i class="icon-cash2 mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Prix location maison :</div>
															<samp class="font-size-lg">{{ adherent.prixlocation }}
																DT</samp>

														</div>
													</div>

													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-droplets mr-3 icon-4x"></i>
															<div class="font-weight-black">Disponibilité d'eau :</div>
															<samp class="font-size-lg">{{ adherent.eau }}</samp>
														</div><br>
														<div class="d-flex align-items-center">
															<i class="icon-power-cord mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Disponibilité d'électricité :</div>
															<samp class="font-size-lg">{{ adherent.electricite }}
															</samp>

														</div>
													</div>
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-office mr-3 icon-4x"></i>
															<div class="font-weight-black">Nombre de chambres :</div>
															<samp class="font-size-lg">{{ adherent.nombrechambre}}</samp>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
								<div class="row">

									<div class="col-lg-6">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-accessibility mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">ÉTAT DE SANTÉ</h6>

												<a href="#collapse-icon3" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon3">
												<div class="mt-3">
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-accessibility2 mr-3 icon-4x"></i>
															<div class="font-weight-black">A-t-il un handicap ? :</div>
															<samp class="font-size-lg">
																{% if adherent.handicap  == '1' %}
																	Oui
																{% else %}
																	Non
																{% endif %}
															</samp>
														</div><br>
														<div class="d-flex align-items-center">
															<i class="icon-question4 mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Type d'handicap :</div>
															<samp class="font-size-lg">{{ adherent.typehandicap }}
															</samp>

														</div>

													</div>
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-collaboration mr-3 icon-4x"></i>

															<div class="font-weight-black">maladie chronique ?(lui ou de famille) :</div>
															<samp class="font-size-lg">
																{% if adherent.handicap  == '1' %}
																	Oui
																{% else %}
																	Non
																{% endif %}
															</samp>

															<div class="font-weight-black">maladie chronique ?(lui ou
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											membre
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											de famille) :</div>
															<samp class="font-size-lg">{{ adherent.maladiechronique
																}}</samp>
														</div><br>
														<div class="d-flex align-items-center">
															<i class="icon-question3 mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Type maladie chronique ? :</div>
															<samp class="font-size-lg">{{ adherent.typemaladiechronique
																}}
															</samp>

														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-user-plus mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">RESUME DE LA SITUATION SOCIALE</h6>

												<a href="#collapse-icon4" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon4">
												<div class="mt-3">
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-clipboard3 mr-3 icon-4x"></i>
															<div class="font-weight-black">Resumé:
															</div>
															<samp class="font-size-lg">{{ adherent.resume }}</samp>
														</div>
														<br>
														<div class="d-flex align-items-center">
															<i class="icon-clippy mr-3 icon-4x"></i>
															<div class="font-weight-black">
																la demande :</div>
															<samp class="font-size-lg">{{ adherent.demande }}
															</samp>

														</div>
													</div>
													<div class="form-group">

														<div class="d-flex align-items-center">
															<i class="icon-watch2 mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Date :</div>
															<samp class="font-size-lg">{{ adherent.date  ? adherent.date|date('Y-m-d') : '' }}
															</samp>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


								</div>


								<div class="row">
									<div class="col-lg-12">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-wallet mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">REVENU FAMILIAL</h6>

												<a href="#collapse-icon6" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon6">
												<div class="mt-3">
													<div class="form-group">
														<div class="d-flex align-items-center">
															<i class="icon-cash3 mr-3 icon-4x"></i>
															<div class="font-weight-black">Montant du revenu :</div>
															<samp class="font-size-lg">{{ adherent.montantrevenu}}</samp>
														</div><br>

														<div class="d-flex align-items-center">
															<i class="icon-question6 mr-3 icon-4x"></i>
															<div class="font-weight-black">
																Source revenu  :</div>
															<samp class="font-size-lg">{{ adherent.source }}
															</samp>

														</div>
													</div>


													<div class="card-body">
														<div class="card-title-left">

															<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" href="#" data-target="#modal_ajout_revenufamilial" data-toggle="modal">
																<b>
																	<i class="icon-reading"></i>
																</b>
																Ajouter un nouveau revenu familial</a>
														</div><br>
														<table class="table datatable-basic">
															<thead>
																<tr>
																	<th>Benificiaire</th>
																	<th>Les affaires sociales</th>
																	<th>Régime securité sociale</th>
																	<th>Type régime securité sociale</th>
																	<th>Type carte</th>
																	<th>Numero d'inscription</th>
																	<th>Action</th>
																</tr>
															</thead>
															<tbody>
																{% for revenufamilial in revenufamilials %}
																	<tr>
																		<td>{{ revenufamilial.benificiaire }}</td>
																		<td>{{ revenufamilial.affairessociales }}</td>
																		<td>{{ revenufamilial.regimesecuritesociale}}</td>
																		<td>{{ revenufamilial.typeregimesecuritesociale }}</td>
																		<td>{{ revenufamilial.typecarte }}</td>
																		<td>{{ revenufamilial.numinscription }}</td>

																		<td>
																			<div
																				class="list-icons">
																				<!--bouton modif-->
																				<a href="{{ path('revenufamilial_edit', {'id': revenufamilial.id}) }}" data-popup="tooltip-custom" title="Modifier le revenu familiale" class="list-icons-item text-primary-600">
																					<i class="icon-pencil7"></i>
																				</a>
																				<!--bouton modif-->
																				<!--bouton trach-->
																				<a href="#" class="list-icons-item text-danger-600" data-popup="tooltip-custom" title="Supprimer le revenu familiale" data-target="#modal_delete{{revenufamilial.id}}" data-toggle="modal">
																					<i class="icon-trash"></i>
																				</a>
																				<!--/bouton trach-->

																			</div>
																		</td>
																		<td class="text-center"></td>

																	</tr>
																	<!--modal supression-->
																	<div id="modal_delete{{revenufamilial.id}}" class="modal fade" tabindex="-1">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header bg-danger">
																					<h4 class="modal-title">Confirmez-vous la suppression ?
																					</h4>
																					<button type="button" class="close" data-dismiss="modal">&times;</button>
																				</div>

																				<div class="modal-body">
																					<p>
																						<h5>Voulez vous supprimer {{revenufamilial.benificiaire}}?</h5>
																					</p><br><h6>si vous confirmez, votre membre sera effacé</h6>
																				</div>

																				<div class="modal-footer">
																					<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
																					<a type="button" class="btn bg-danger" href="{{ path('revenufamilial_delete', {'id': revenufamilial.id,'idadherent':adherent.id}) }}">Supprimer</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!--/modal supression-->
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Vertical form modal -->
									<div id="modal_ajout_revenufamilial" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Vous allez ajouter un revenu familial au {{adherent.nom}}</h5>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div> {{ form_start(formRF) }}
												<div class="modal-body">
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Beneficiaire</label> {{ form_widget(formRF.benificiaire, {attr:{'class':'form-control ','placeholder':'Conjoint , Pére , Mére'}}) }}
															</div>

															<div class="col-sm-6">
																<label>Affaires sociales
																</label> {{ form_widget(formRF.affairessociales, {attr:{'class':'form-control '}}) }}

															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Couleur de carnet</label> {{ form_widget(formRF.typecarte, {attr:{'class':'form-control form-control-select2'}}) }}
															</div>

															<div class="col-sm-6">
																<label>Numero d'inscription</label> {{ form_widget(formRF.numinscription, {attr:{'class':'form-control '}}) }}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Le regime de securite sociale</label> {{ form_widget(formRF.regimesecuritesociale, {attr:{'class':'form-control form-control-select2'}}) }}
															</div>

															<div class="col-sm-6">
																<label>Type de regime de securité sociale</label> {{ form_widget(formRF.typeregimesecuritesociale, {attr:{'class':'form-control form-control-select2 '}}) }}
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Close</button> {{ form_row(formRF.Enregistrer , {attr:{'class':'btn btn-primary'}}) }}
												</div> {{ form_end(formRF) }}
											</div>
										</div>
									</div>
									<!-- /vertical form modal -->


								</div>

								<div class="row">


									<div class="col-lg-12">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-users4 mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">MEMBRE FAMILLE</h6>

												<a href="#collapse-icon7" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon7">
												<div class="mt-3">
													<div class="card-body">
														<div class="card-title-left">

															<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" href="#" data-target="#modal_ajout_benificiaire" data-toggle="modal">
																<b>
																	<i class="icon-reading"></i>
																</b>
																Ajouter un nouveau membre famille</a>
														</div><br>
														<table class="table datatable-basic">

															<thead>
																<tr>

																	<th>id</th>
																	<th>Relation familiale</th>
																	<th>Nom et prénom</th>
																	<th>Date de naissance</th>
																	<th>Niveau d'etude</th>
																	<th>Metier</th>
																	<th>Action</th>
																</tr>
															</thead>
															<tbody>
																{% for benificiaire in benificiaires %}
																	<tr>
																		<td>{{ benificiaire.id }}</td>
																		<td>{{ benificiaire.relationfamiliale }}</td>
																		<td>{{ benificiaire.nom }}</td>
																		<td>{{ benificiaire.datenaissance ? benificiaire.datenaissance|date('Y-m-d') : '' }}</td>
																		<td>{{ benificiaire.niveauetude }}</td>
																		<td>{{ benificiaire.Metier }}</td>

																		<td>

																			<div
																				class="list-icons">
																				<!--bouton modif-->
																				<a href="{{ path('app_benificiaire_edit', {'id': benificiaire.id}) }}" data-popup="tooltip-custom" title="Modifier le bénéficiaire" class="list-icons-item text-primary-600">
																					<i class="icon-pencil7"></i>
																				</a>
																				<!--bouton modif-->
																				<!--bouton trach-->
																				<a href="#" class="list-icons-item text-danger-600" data-target="#modal_delete{{benificiaire.id}}" data-popup="tooltip-custom" title="Supprimer le bénéficiaire" data-toggle="modal">
																					<i class="icon-trash"></i>
																				</a>
																				<!--/bouton trach-->

																			</div>
																		</td>
																		<td class="text-center"></td>

																	</tr>
																	<!--modal supression-->
																	<div id="modal_delete{{benificiaire.id}}" class="modal fade" tabindex="-1">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header bg-danger">
																					<h4 class="modal-title">Confirmez-vous la suppression ?
																					</h4>
																					<button type="button" class="close" data-dismiss="modal">&times;</button>
																				</div>

																				<div class="modal-body">
																					<p>
																						<h5>Voulez vous supprimer {{benificiaire.nom}}?</h5>
																					</p><br><h6>si vous confirmez, votre membre sera effacé</h6>
																				</div>

																				<div class="modal-footer">
																					<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
																					<a type="button" class="btn bg-danger" href="{{ path('app_benificiaire_delete', {'id': benificiaire.id,'idadherent':adherent.id}) }}">Supprimer</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!--/modal supression-->


																{% endfor %}

															</tbody>
														</table>
													</div>

												</div>
											</div>
										</div>
									</div>

									<!-- Vertical form modal -->
									<div id="modal_ajout_benificiaire" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Vous allez ajouter un membre famille au {{adherent.nom}}</h5>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div> {{ form_start(formBen) }}
												<div class="modal-body">
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>relationfamiliale</label> {{ form_widget(formBen.relationfamiliale, {attr:{'class':'form-control form-control-select2'}}) }}
															</div>

															<div class="col-sm-6">
																<label>nom
																</label> {{ form_widget(formBen.nom, {attr:{'class':'form-control '}}) }}

															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>date naissance</label> {{ form_widget(formBen.datenaissance, {attr:{'class':'form-control'}}) }}
															</div>

															<div class="col-sm-6">
																<label>niveau etude</label> {{ form_widget(formBen.niveauetude, {attr:{'class':'form-control form-control-select2'}}) }}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>metier</label> {{ form_widget(formBen.metier, {attr:{'class':'form-control '}}) }}
															</div>

														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Close</button> {{ form_row(formBen.Enregistrer , {attr:{'class':'btn btn-primary'}}) }}
												</div> {{ form_end(formBen) }}
											</div>
										</div>
									</div>
									<!-- /vertical form modal -->

								</div>
								<div class="row">


									<div class="col-lg-12">
										<div class="card card-body border-top-info">
											<div class="text-center">
												<i class="icon-users4 mr-3 icon-2x"></i>
												<h6 class="font-weight-semibold mb-0">PIECES JOINTES
												</h6>

												<a href="#collapse-icon8" class="text-default" data-toggle="collapse">
													<i class="icon-circle-down2"></i>
												</a>
											</div>

											<div class="collapse" id="collapse-icon8">
												<div class="mt-3">
													<div class="card-body">
														{% for piecesjointe in piecesJointes %} 
															<img style="width: 100px;" src="{{asset('uploads/' ~ piecesjointe.nom) }}" />
														{% endfor %}
													</div>

												</div>
											</div>
										</div>
									</div>


								</div>
							</div>
							<!-- /content area -->


						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
