{% extends 'base.html.twig' %}
{% block style %}
	<!-- Core JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/main/jquery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/ui/ripple.min.js') }}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>


	<script src="{{asset('templateAdmin/global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block body %}
<!-- Main content -->
<div
	class="content-wrapper">

	<!-- Page header -->
	<div class="page-header page-header-light">
		<div class="page-header-content header-elements-md-inline">
			<div class="d-flex">
				<div class="breadcrumb"></div>

				<a href="#" class="header-elements-toggle text-default d-md-none">
					<i class="icon-more"></i>
				</a>
			</div>

		</div>
	</div>
	<!-- /page header -->

	<!-- Content area -->
	<div
		class="content">

		<!-- Basic datatable -->
		<div class="card">
			<div class="card-header header-elements-inline">
				<h4 class="card-title">
					les details du caisse {{ caisse.id }}
				</h4>

			</div>
			<div class="card-header header-elements-inline">
				<h6>
					<i class="icon-table2"></i>
					Nom de caisse: {{ caisse.intitule}}
				</br>
			</br>
			<i class="icon-cash"></i>
			le montant: {{ caisse.montant }}
		</h6>
	</div>

	<table class="table datatable-basic">

		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Montant
				</th>

				<th>
					Responsable
				</th>
				<th>
					Etat
				</th>
			</tr>
		</thead>
		<tbody>
			{% for op in operations %}
				<tr >
					<td > {{ op.operation.id }}
					</td>
                    <td > {{ op.operation.montant }}
                </td>
                    <td> {{ op.operation.Responsable }}
					</td>
                    <td> {{ op.operation.etat }}
					</td>
					<td class="text-center"></td>
				</tr>

				
			</tbody>
		</tbody>
	</div>
</div>
{% endfor %}
</div></tbody></table></div>{% endblock %}
