{% extends 'base.html.twig' %}
{% block style %}
	<!-- Core JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/main/jquery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/ui/ripple.min.js') }}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
	<script src="{{asset('templateAdmin/global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>


	<script src="{{asset('templateAdmin/global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block body %}
	<!-- Main content -->
	<div
		class="content-wrapper">

		<!-- Page header -->
		<div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a href="{{path('reunion_index')}}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i>
							Liste des réunion</a>
						<a href="#" class="breadcrumb-item">Affichage du réunion</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div
			class="content">

			<!-- Basic datatable -->
			<div class="card">
				<div class="card-header bg-white header-elements-inline">
					<h4 class="card-title">
						Liste des décisions de la réunion {{ reunion.id }}
					</h4>
					<div class="card-title-left">
						<a type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left" data-target="#modal_create{{ reunion.id }}" data-toggle="modal" data-id={{reunion.id}}>
							<b>
								<i class="icon-reading"></i>
							</b>
							Affecter des adhérents à la réunion {{ reunion.id }}
						</a>
					</div>

				</div>
				<div class="card-header header-elements-inline">
					<h6>
						<i class="icon-table2"></i>
						Date de réunion: {{ reunion.date ? reunion.date|date('Y-m-d') : '' }}
					</br>
				</br>
				<i class="icon-people"></i>
				Liste des participants à réunion: {{ reunion.listemembre }}
			</h6>
		</div>

		<table class="table datatable-basic">

			<thead>
				<tr>
					<th>
						Id
					</th>
					<th>
						Adhérent
					</th>
					<th>
						Décision
					</th>
					<th>
						Détails
					</th>
					<th>
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				{% for decision in decisions %}
					<tr>
						<td> {{ decision.adherent.id }}
						</td>
						<td> {{ decision.adherent.nom }}
						</td>

						<td>
							<button type="button" class="btn  {% if decision.statut == 'Validé' %} bg-green {% endif %} {% if decision.statut == 'Refusé' %} bg-danger {% endif %} {% if decision.statut == 'Reporté' %} bg-warning {% endif %}"> {{ decision.statut }}
							</button>
						</td>
						<td> {{ decision.detail }}
						</td>
						<td>
							<a href="#" data-popup="tooltip-custom" title="Decision du commité" data-target="#modal_decision{{ decision.id }}" data-toggle="modal" data-id={{decision.id}} class="list-icons-item text-primary-600">
								<i class="icon-balance"></i>
							</a>
							<a href="#" data-target="#modal_delete{{ decision.id }}" data-popup="tooltip-custom" title="Supprimer la réunion" data-toggle="modal" data-id={{decision.id}} class="list-icons-item text-danger-600">
								<i class="icon-trash"></i>
							</a>
						</td>
						<td class="text-center"></td>
					</tr>

					<div id="modal_decision{{ decision.id }}" class="modal fade" tabindex="-1">
						<form method="POST" action="{{ path("decision_statut" , {id: decision.id}) }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-primary">
										<h6 class="modal-title">
											<label class="d-block font-weight-semibold">
												la décision de la comité pour la réunion</label>
										</h6>
										<button type="button" class="close" data-dismiss="modal">
											&times;
										</button>
									</div>

									<div class="modal-body">
										<div class="form-group">
											<h6>
												<label class="d-block font-weight-semibold">Statut</label>
											</h6>
											<div class="form-check form-check-inline">
												<label class="form-check-label">
													<input type="radio" class="form-check-input" name="statut" value="Validé">
													Validé
												</label>
											</div>

											<div class="form-check form-check-inline">
												<label class="form-check-label">
													<input type="radio" class="form-check-input" name="statut" value="Refusé">
													Refusé
												</label>
											</div>
											<div class="form-check form-check-inline">
												<label class="form-check-label">
													<input type="radio" class="form-check-input" name="statut" value="Reporté">
													Reporté
												</label>
											</div>
										</div>
										<div class="form-group">
											<h6>
												<label class="d-block font-weight-semibold">Commentaire</label>
											</h6>

											<textarea class="form-control" type="text" name="detail"></textarea>
										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-link" data-dismiss="modal">
											Fermer
										</button>
										<button type="submit" class="btn bg-primary">
											Valider
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div id="modal_delete{{ decision.id }}" class="modal fade" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-danger">
									<h6 class="modal-title">
										Supprimer le decision {{ decision.id }}
										de la reunion {{ reunion.id }}
									</h6>
									<button type="button" class="close" data-dismiss="modal">
										&times;
									</button>
								</div>

								<div class="modal-body">
									<p>
										Êtes-vous sûr de vouloir supprimer ?
									</p>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">
										Fermer
									</button>
									<a type="button" class="btn bg-danger" href="{{ path("dossier_delete" , {id: decision.id}) }}">
										Valider
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</div>
	</div>
	<div id="modal_create{{ reunion.id }}" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title">
						Affecter des adherents au reunion {{ reunion.id }}
					</h6>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<form method="POST">
					<div class="modal-body">

						<div class="col-md-12">

							<label>
								les Adherents
							</label>
							<select name="listeadherents[]" class="form_control form-control-select2" multiple>

								{% for adherent in adherents %}

									<option value="{{adherent.id}}"> {{ adherent.nom }}
									</option>

								{% endfor %}
							</select>

						</div>
					</div>

					<div class="modal-footer">

						<button type="button" class="btn btn-link" data-dismiss="modal">
							Fermer
						</button>
						<button type="submit" class="btn bg-primary">
							Valider
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</tbody></table></div>{% endblock %}
